{% extends 'base.html.twig' %}

{% block body %}

<h2>DEFAULT PAGE</h2>
    <table >
        <tr>
            <td>Rock, Paper, Scissor</td>
            <td><button onclick="location.href='/play-page'">Play</button></td>
            <td><button onclick="location.href='/watch-page'">Watch</button></td>
        </tr>
    </table>
{% endblock %}