{% extends 'base.html.twig' %}

{% block body %}

<h2>PLAY PAGE</h2>
    <label>Choose one:</label><br/>
    <button onclick="location.href='/result-page/ROCK'" value="ROCK">ROCK</button>
    <button onclick="location.href='/result-page/PAPER'" value="PAPER">PAPER</button>
    <button onclick="location.href='/result-page/SCISSOR'" value="SCISSOR">SCISSOR</button>

{% endblock %}